<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Recent Projects</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal0" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/PSAP.png" class="img-responsive" alt="Sound World Solutions CS-50 personal sound amplification Device">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Baltimore HEARS</h4>
                        <p class="text-muted">Design Strategy & Service Design</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/OYCAW.png" class="img-responsive" alt="two middle school students brainstorming">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Youth Smoking Prevention</h4>
                        <p class="text-muted">Facilitation & Project Management</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/OYCAW.png" class="img-responsive" alt="two middle school students mind mapping on bright neon paper">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Facilitation & Project Management</h4>
                        <p class="text-muted">Facilitation & Brand Strategy</p>
                    </div>
                </div>

                <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/portfolio.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Portfolio</h4>
                        <p class="text-muted">Web Design</p>
                    </div>
                </div>          -->

            </div>
             <div class="row">



                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/NKH.png" class="img-responsive" alt="Three extra large postit notes each with a picture attached to it creating a persona">
                    </a>
                    <div class="portfolio-caption">
                        <h4>No Kid Hungry</h4>
                        <p class="text-muted">Design Research & Design Visualization</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/poolparty.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pool Party Plus</h4>
                        <p class="text-muted">Web Design / Wordpress</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
