<!-- Services Section -->
    <section id="skills">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Major Skills</h2>
                    <h3 class="section-subheading text-muted">This is probably why you're looking for me:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design Research</h4>
                    <p class="text-muted">Design research aims to shed light on human behavior, to better understand the world and the specifics of the cultures we live in. As a trained social scientist I have experience in both quantitative & qualitative research methodologies including interviewing & ethnography. When applied, this research builds a basis for human & user centered design.
</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Facilitation</h4>
                    <p class="text-muted">I’ve lead diverse groups of stakeholders and students through understanding the role of  design, social research, and design thinking exercises and have helped them develop solutions to complex problems. My areas of specialization include research methodology, socially responsive design, and community empowerment.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Visual Communication</h4>
                    <p class="text-muted">As a professional designer, I work in a variety of the media to create a visual story. I am constantly seeking new techniques to apply to my visual tool belt to push my content one step further. My background is in graphic design and photojournalism, with recent work in data visualization, prototyping, and public awareness campaigns.</p>
                </div>
            </div>
            <div class="bg-png">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Other Skills</h2>
                    <h3 class="section-subheading text-muted">I can do a lot more than the above:</h3>
                </div>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design Strategy</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Curriculum Design</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Presentation Design</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="row text-center ">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Event Planning & Organizing</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Yoga and Bowspring Classes</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Learning</h2>
                    <h3 class="section-subheading text-muted">Things I am currently hacking away at:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front End Web Development</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">tktktktktkt</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">tktktktkt</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">tktktktkt</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
    </section>
